$pink: #ff3366;
$orange: #ff9500;
$bg: #f5f7fa;
$background: $bg;
$primary: #39cdcc;
$dark: #213f7d;
$gray: #545f7d;
$light-gray: #9ca3af;
$white: #ffffff;
$bg: #f5f7fa;
$border: #e0e0e0;
$red: #ff3366;
$yellow: #ffb347;
$green: #39cdcc;
$purple: #9b59b6;
$danger: #e4033b;
